<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182864126022-v6721nevgukhj8c2hmthu53gjs5lgqja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182864126022-v6721nevgukhj8c2hmthu53gjs5lgqja</string>
	<key>API_KEY</key>
	<string>AIzaSyAZigscMuTyzbPqs0loCNcbEI2KmNaBclY</string>
	<key>GCM_SENDER_ID</key>
	<string>182864126022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sealstudios.pokeapp.prod</string>
	<key>PROJECT_ID</key>
	<string>pokeapp-86eec</string>
	<key>STORAGE_BUCKET</key>
	<string>pokeapp-86eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182864126022:ios:0353291edc6439213b6a47</string>
</dict>
</plist>